{% extends 'base.html.twig' %}

{% block title %}Changer le mot de passe{% endblock %}

{% block body %}


   <h2>Modifier votre mot de passe : </h2>
        <div class="col-4">
        {{ form_start(changePasswordForm) }}
        {{ form_widget(changePasswordForm) }}
        <button class="btn btn-primary">Valider votre modification !</button>
        {{ form_end(changePasswordForm) }}
        </div>

{% endblock %}
