{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}

   <h2>Modifier votre profil : </h2>

        {{ form_start(registrationForm) }}
        {{ form_widget(registrationForm) }}
        <br>
        <button class="btn btn-primary">Valider votre modification !</button>
        <br>
        <a href="{{ path('modify_password') }}" title="ChangePassword" alt="">Changer le mot de passe</a>
        {{ form_end(registrationForm) }}

{% endblock %}
