{% extends 'base.html.twig' %}

{% block body %}

    <h1> Créer une sortie</h1>
        {{ form_start(tripForm) }}
        {{ form_widget(tripForm) }}

        <button>Enregistrer</button>

        {{ form_end(tripForm) }}

    <button>Publier la sortie</button>
    <button>Annuler</button>

{% endblock %}

{% block title %}
parent() | Créer une sortie
{% endblock %}

