{% extends 'base.html.twig' %}

{% block body %}

    <h1> Créer une sortie</h1>
        {{ form_start(tripForm) }}
        {{ form_widget(tripForm) }}

        <button>Enregistrer</button>

        {{ form_end(tripForm) }}


{% endblock %}

{% block title %}

{% endblock %}

