{% extends 'base.html.twig' %}

{% block title %}Gérer les villes{% endblock %}

{% block body %}
    <h1>Gérer les villes</h1>

     <div>
         <h2>Filtrez les villes</h2>

         <input type="text" id="input" onkeyup="search()" placeholder="Recherchez par ville">

     </div>
    <div>
        <h1>Liste des villes</h1>
        <table id="name_trip" style="border: black 1px solid">
            <tr style="border: black 1px solid" >
                <th>Ville</th>
                <th>Code Postal</th>
                <th>Actions</th>
            </tr>
            {% for c in allCities %}
                <tr style="border: black 1px solid">
                    <td>{{ c.name }}</td>
                    <td>{{c.codePostal}}</td>

                    <td>
                    <a href="#">Modifier</a>
                    <a href="#">Supprimer</a>
                    </td>
                </tr>

            {% endfor%}

        </table>
    </div>

    {% block javascript %}
    {{ parent() }}
    <script>

        function search() {
              let input, filter, table, tr, td, i;

              input = document.getElementById("input");
              filter = input.value.toUpperCase();
              table = document.getElementById("name_trip");
              tr = table.getElementsByTagName("tr");

              // Loop through all table rows, and hide those who don't match the search query
                for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                  if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                  } else {
                    tr[i].style.display = "none";
                  }
                }
              }
            }

    </script>
    {% endblock %}
{% endblock %}
