<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Sortir.com{% endblock %}</title>
<script src="a">

</script>
    </head>
    <body>
    <header>
        <h1>Sortir.com</h1>
        {% include ('inc/nav.html.twig') %}
    </header>

        {% block body %}

        {% endblock %}

    <footer>

    </footer>
        {% block javascript %}
         {% endblock %}
    </body>
</html>
