<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Sortir.com{% endblock %}</title>
</head>
<body>
<header>
    <h1>Sortir.com</h1>
    <nav>
        <h3><a href="{{ path('user_profile') }}" title="Inscription" >Inscription</a><h3>
    </nav>
</header>

{% block body %}
    <h1>Connexion</h1>
{% endblock %}


</body>
</html>