{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}


{% block body %}


        <div>
            <h2>Filtrer les sorties</h2>
           {%  include 'trip/_filter.html.twig' with {form:form} only %}
        </div>

        <div>
            {% for trip in triplist %}
                {{ trip:trip }}
            {% endfor %}        </div>

        <div>
            <a href=#>
                <button>Créer une sortie</button>
            </a>
        </div>
{% endblock %}

