{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}


{% block body %}


        <div>
            <h2>Filtrer les sorties</h2>

        </div>

        <div>


        </div>

        <div>
            <a href=#>
                <button>Créer une sortie</button>
            </a>
        </div>
{% endblock %}

