{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}


{% block body %}
<div>
   <h1>Tableau des sorties</h1>
    {% for t in trip %}
   <p> {{ t.name }}</p>
    {% endfor%}
</div>

{% endblock %}

