<nav>
    <ul>
        <li><a href="#" title="" alt=""></a></li>
        <li><a href="#" title="" alt=""></a></li>
        <li><a href="#" title="" alt=""></a></li>
        <li><a href="#" title="" alt=""></a></li>
        <li><a href="#" title="" alt=""></a></li>
    </ul>
</nav>