<nav>
    <ul>
        <li><a href="{{ path('home') }}" title="Homapage" alt="">Accueil</a></li>
        <li><a href="{{ path("app_profile") }}" title="My Account" alt="">Mon profil</a></li>
        <li><a href= "{{ path('app_logout') }}" title=Logout>Se déconnecter </a></li>

        {% if is_granted("ROLE_ADMIN") %}
        <li><a href="#" title="Cities" alt=""> Villes</a></li>
        <li><a href="#" title="Location" alt="">Sites</a></li>
        {% endif %}
    </ul>
</nav>